<!-- response.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Response Page</title>
</head>
<body>
    <h1>{{ header }} </h1>
    <h2>{{ greeting }}</h2>
    <p>Username entered: {{ username }}</p>
    <p>Request method used: {{ method_used }}</p>

    <h2>GET vs POST:</h2>
    <p><strong>GET</strong> requests are used to retrieve data and send parameters in the URL.</p>
    <p><strong>POST</strong> requests are used to send data within the request body, making them more secure for sensitive data.</p>
</body>
</html>
